<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">{{ecole.name}}</h1>
        <p class="text-white mt-0 mb-5">{{ecole.description}}</p>
        <button class="btn btn-info" (click)="editeprofil()">{{editeText}}</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <!--<img src="assets/img/img.png" class="rounded-circle">-->
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
            <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">22</span>
                  <span class="description">Maitres</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Salles</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Premium</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>{{ecole.location}}
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Administrateur : {{ecole.admin}}
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>{{ecole.telephone}}
            </div>
            <hr class="my-4" />
            <p>{{ecole.description}}</p>
            <a href="javascript:void(0)">Show more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">{{editeText}}</h3>
            </div>
            <div class="col-4 text-right">
              <button  class="btn btn-sm btn-primary" (click)="editeprofil()">{{editeText}}</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Informations de l'ecole</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Denomination</label>
                    <input type="text"  class="form-control form-control-alternative" [disabled]="formDisable" [placeholder]="ecole.name" [(ngModel)]="ecole.name" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" >Email</label>
                    <input type="email"  class="form-control form-control-alternative" [disabled]="formDisable" [placeholder]="ecole.email" [(ngModel)]="ecole.email" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" >Telephone</label>
                    <input type="text"  class="form-control form-control-alternative" [disabled]="formDisable" [placeholder]="ecole.telephone" [(ngModel)]="ecole.telephone" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" >Administrateur</label>
                    <input type="text"  class="form-control form-control-alternative" [disabled]="formDisable" [placeholder]="ecole.admin" [(ngModel)]="ecole.admin" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Informations contact</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Adresse</label>
                    <input id="input-address" class="form-control form-control-alternative" [disabled]="formDisable" [placeholder]="ecole.location" [(ngModel)]="ecole.location" [ngModelOptions]="{standalone: true}" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Ville</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative" [disabled]="formDisable" [placeholder]="ecole.city" [(ngModel)]="ecole.city" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Code Postal</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative" [disabled]="formDisable" [placeholder]="ecole.codePostal" [(ngModel)]="ecole.codePostal" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Type</label>
                    <input type="text" id="input-postal-code" class="form-control form-control-alternative" [disabled]="formDisable" [placeholder]="ecole.type" [(ngModel)]="ecole.type" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">A propos</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>Description</label>
                <textarea rows="4" class="form-control form-control-alternative" [disabled]="formDisable" [placeholder]="ecole.description" [(ngModel)]="ecole.description" [ngModelOptions]="{standalone: true}"></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
